@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Voxa Palette */
  --color-void: #040404;
  --color-surface: #171717;
  --color-accent: #2d8cff;
  --color-white: #ffffff;
}

body {
  color: var(--color-white);
  background: var(--color-void);
  min-height: 100vh;
  font-family: 'Space Grotesk', sans-serif;
  overflow: hidden;
}

/* Custom Utilities */
.btn-voxa {
  background-color: var(--color-accent);
  color: white;
  font-weight: 500;
  border-radius: 9999px;
  /* Pill shape */
  transition: all 0.2s ease;
}

.btn-voxa:hover {
  filter: brightness(1.1);
  box-shadow: 0 0 15px rgba(45, 140, 255, 0.4);
}

/* Scrollbar (Clean) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}